

body {
  background-color: #f0f0f0;
}

.alert-danger {
  color: #fff;
  background-color: rgb(255, 21, 21);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



