$alert-danger-bg-color: #ff2626;


body {
  background: #2c2c2c;  
  background: linear-gradient(to right, #000000, #2c2c2c, #000000);
}

.alert-danger {
  color: #fff;
  background-color: $alert-danger-bg-color;
}

.btn-primary {
  background-color: #222;
  transition: all .3s ease-in-out;

    &:hover {
      color: #fff;
      background-color: $alert-danger-bg-color;
      border-color: #010000;                
    }
}

.btn-danger {
  background-color: $alert-danger-bg-color;
  transition: all .3s ease-in-out;
}

.btn-outline-secondary {
  background-color: #ced4da00;
  border-color: #fff;
  color: #fff;
  transition: all .3s ease-in-out;

    &:hover {
      background: #fff !important;
      color: #000 !important;
    }
}

.shadow {
  box-shadow: 0 .3rem 1rem rgba(251, 251, 251, 0.42) !important;
}

.btn-link {
	font-weight: 400;
	color: #fff;
	text-decoration: none;

  &:hover {
  	color: #dfdfdf;
  	text-decoration: none;
  }
}

.table {
    color: #eeeeee;
}

.text-yellow {
    color: #f7ff81;
    // color: #16d47b;
}

.table-striped {
  background-color: rgba(255, 255, 255, 0.048);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #16d47b; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.8s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

canvas {
  display: block;
  position: absolute;
  margin-top: 0px;
  margin-bottom: 0px;
}

// Stroke from zero to 100%
.border-animation::after {
    content: "";
    position: relative;
    top: .5rem;
    display: block;
    height: .15rem;
    background-color: #d6d6d6;
    width: 0;
    transition: all 500ms ease;
}

.border-animation:hover::after {
    width: 100%;
}